In [3]:
import pandas as pd
import matplotlib as plt
import sqlite3
import datetime
import seaborn as sns

# import csv file
data = pd.read_csv('Airplane_Crashes.csv')

# Insert column called 'Day'
data.insert(2, 'Day', 'default')

# Change 'Date' column from object to datetime 
data['Date'] = pd.to_datetime(data['Date'])

# Use Date to get the day of week in the Day column
data['Day'] = data['Date'].dt.weekday_name


# create sql database
data.to_sql('crashes', sqlite3.connect('airplane_crashes.db'), if_exists = "replace")

# sanity check to make sure csv pulled
data.shape

# pull out relevant data

# do something with the data

# graph the data

(5268, 14)

Crashes is the name of the sql table, reference below.

In [4]:
data

,Date,Time,Day,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,1908-09-17,17:18,Thursday,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1912-07-12,06:30,Friday,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,1913-08-06,NaN,Wednesday,"Victoria, British Columbia, Canada",Private,-0,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,1913-09-09,18:30,Tuesday,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,1913-10-17,10:30,Friday,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
5,1915-03-05,01:00,Friday,"Tienen, Belgium",Military - German Navy,NaN,NaN,Zeppelin L-8 (airship),NaN,NaN,41.0,21.0,0.0,Crashed into trees while attempting to land af...
6,1915-09-03,15:20,Friday,"Off Cuxhaven, Germany",Military - German Navy,NaN,NaN,Zeppelin L-10 (airship),NaN,NaN,19.0,19.0,0.0,"Exploded and burned near Neuwerk Island, when..."
7,1916-07-28,NaN,Friday,"Near Jambol, Bulgeria",Military - German Army,NaN,NaN,Schutte-Lanz S-L-10 (airship),NaN,NaN,20.0,20.0,0.0,"Crashed near the Black Sea, cause unknown."
8,1916-09-24,01:00,Sunday,"Billericay, England",Military - German Navy,NaN,NaN,Zeppelin L-32 (airship),NaN,NaN,22.0,22.0,0.0,Shot down by British aircraft crashing in flames.
9,1916-10-01,23:45,Sunday,"Potters Bar, England",Military - German Navy,NaN,NaN,Zeppelin L-31 (airship),NaN,NaN,19.0,19.0,0.0,Shot down in flames by the British 39th Home D...
10,1916-11-21,NaN,Tuesday,"Mainz, Germany",Military - German Army,NaN,NaN,Super Zeppelin (airship),NaN,NaN,28.0,27.0,0.0,Crashed in a storm.
11,1916-11-28,23:45,Tuesday,"Off West Hartlepool, England",Military - German Navy,NaN,NaN,Zeppelin L-34 (airship),NaN,NaN,20.0,20.0,0.0,Shot down by British anti-aircraft fire and ai...
12,1917-03-04,NaN,Sunday,"Near Gent, Belgium",Military - German Army,NaN,NaN,Airship,NaN,NaN,20.0,20.0,0.0,Caught fire and crashed.
13,1917-03-30,NaN,Friday,Off Northern Germany,Military - German Navy,NaN,NaN,Schutte-Lanz S-L-9 (airship),NaN,NaN,23.0,23.0,0.0,Struck by lightning and crashed into the Balti...
14,1917-05-14,05:15,Monday,"Near Texel Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-22 (airship),NaN,NaN,21.0,21.0,0.0,"Crashed into the sea from an altitude of 3,000..."
15,1917-06-14,08:45,Thursday,"Off Vlieland Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-43 (airship),NaN,NaN,24.0,24.0,0.0,Shot down by British aircraft.
16,1917-08-21,07:00,Tuesday,Off western Denmark,Military - German Navy,NaN,NaN,Zeppelin L-23 (airship),NaN,NaN,18.0,18.0,0.0,Shot down by British aircraft.
17,1917-10-20,07:45,Saturday,"Near Luneville, France",Military - German Navy,NaN,NaN,Zeppelin L-44 (airship),NaN,NaN,18.0,18.0,0.0,Shot down by French anti-aircraft fire.
18,1918-04-07,21:30,Sunday,Over the Mediterranean,Military - German Navy,NaN,NaN,Zeppelin L-59 (airship),NaN,NaN,23.0,23.0,0.0,Exploded and crashed into the sea off the sout...
19,1918-05-10,NaN,Friday,"Off Helgoland Island, Germany",Military - German Navy,NaN,NaN,Zeppelin L-70 (airship),NaN,NaN,22.0,22.0,0.0,Shot down by British aircraft crashing from a ...
20,1918-08-11,10:00,Sunday,"Ameland Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-53 (airship),NaN,NaN,19.0,19.0,0.0,Shot down by british aircraft.
21,1918-12-16,NaN,Monday,"Elizabeth, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,97,NaN,1.0,1.0,0.0,NaN
22,1919-05-25,NaN,Sunday,"Cleveland, Ohio",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,61,NaN,1.0,1.0,0.0,Caught fire in midair. The pilot leaped from t...
23,1919-07-19,NaN,Saturday,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,82,NaN,1.0,1.0,0.0,NaN
24,1919-10-02,NaN,Thursday,"Newcastle, England",Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,NaN,NaN,1.0,1.0,0.0,NaN
25,1919-10-14,NaN,Tuesday,"Cantonsville, Maryland",US Aerial Mail Service,NaN,NaN,Curtiss R-4LM,32,NaN,1.0,1.0,0.0,NaN
26,1919-10-20,NaN,Monday,English Channel,Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,G-EAHG,NaN,NaN,NaN,NaN,NaN
27,1919-10-30,NaN,Thursday,"Long Valley, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH.4,77,NaN,1.0,1.0,0.0,NaN
28,1920-03-10,NaN,Wednesday,"New Paris, Indiana",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,65,NaN,1.0,1.0,0.0,NaN
29,1920-03-30,NaN,Tuesday,"Newark, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,72,NaN,1.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5238,2008-11-13,11:35,Thursday,"Fallujah, Iraq",Falcon Aviation Group,NaN,al-Asad air base - Baghdad,Antonov An-12,S9-SAO,346908,7.0,7.0,0.0,"The cargo plane, chartered by FedEx, crashed w..."
5239,2008-11-16,10:32,Sunday,"Thormanby Island, British Columbia, Canada",PacifiCoastal Airlines,NaN,Vancouver - Powell River - Toba Inlet,Grumman G-21A Goose,C-FPCK,1187,8.0,7.0,0.0,The charter aircraft crashed into a steep hill...
5240,2008-11-27,17:00,Thursday,"Off Perpignan, France",XL Airways leased from Air New Zealand,NaN,Training,Airbus A320-232,D-AXLA,2500,7.0,7.0,0.0,The Airbus A320 was leased by XL Airways of Ge...
5241,2008-12-03,12:13,Wednesday,"San Juan, Puerto Rico",Webstas Aviation Services Inc.,NaN,"Tortola Virgin Islands - San Juan, PR",Rockwell International 690B,N318WA,11444,3.0,3.0,0.0,The plane struck the side of El Yunque mountai...
5242,2008-12-11,06:25,Thursday,"Off Sabine Pass, Texas",Rotorcraft Leasing Co,NaN,Sabine Pass - Oil Platform,Bell 206-L4 Jet Ranger III,N180AL,52104,3.0,3.0,0.0,The helicopter ferrying workers to an off shor...
5243,2008-12-15,16:40,Monday,Off Turks and Caicos Islands,Alantis Aviation,NaN,"Santiago, Dominican Republi- Providenciales",Britten Norman BN-2A Trislander Mk3,N650LP,1029,12.0,12.0,0.0,The charter flight disappeared from radar 35 m...
5244,2009-01-04,15:30,Sunday,Near Houma Louisiana,Petroleum Helicopters Inc,NaN,Bayou Penchant - Off shore oil fields,Sikorsky S-76C,N748P,760629,9.0,8.0,0.0,A helicopter bound for offshore oil fields wen...
5245,2009-01-15,15:06,Thursday,"New York, New York",US Airways,1549,"New York, NY- Charlotte, NC",Airbus A320-214,N106US,1044,155.0,0.0,0.0,The plane was taking off from La Guardia Airpo...
5246,2009-02-07,14:00,Saturday,"Manacapuru, Brazil",Aerotaxi Manaus,NaN,Coari - Manus,Bandeirante EMB-110P1,PT-SEA,110352,28.0,24.0,0.0,The plane was being used as an air taxi to fer...
5247,2009-02-07,06:30,Saturday,"Trigoria, Italy",Air One Executive,NaN,Rome - Bologna,Cessna 650 Citation III,I-FEEV,650-0105,2.0,2.0,0.0,"The plane, heading to Bologna to pick up a med..."
5248,2009-02-12,22:17,Thursday,"Clarence Center, New York",Continental Connection/Colgan Air,3407,"Newark, N.J. - Buffalo, NY",Bombardier DHC-8-402 Q400,N200WQ,4200,49.0,49.0,1.0,The commuter plane crashed while attemptiong t...
5249,2009-02-15,16:05,Sunday,"Chanco, Chile",Flight Service,NaN,NaN,Bell UH-1H,NaN,NaN,13.0,13.0,0.0,The helicopter was carrying firemen to a nearb...
5250,2009-02-20,04:10,Friday,"Luxor, Egypt",Aerolift,NaN,"Entebbe, Uganda - Luxor, Egypt - Niklaev, Ukraine",Antonov 12V,S9-SVN,6344310,5.0,5.0,0.0,"While attemping to take off from Luxor, the ca..."
5251,2009-02-25,10:31,Wednesday,"Amsterdam, Netherlands",Turkish Airlines,1951,"Istanbul, Turkey - Amsterdam, Netherlands",Boeing 737-8F2,TC-JGE,29789/1065,134.0,9.0,0.0,The plane was on final approach to Runway 18R ...
5252,2009-03-09,05:40,Monday,"Lake Victoria, Uganda",Aerolift,NaN,"Entebbe, Uganda - Mogadishu, Somalia",Ilyushin Il-76T,S9-SAB,73410301,11.0,11.0,0.0,The cargo plane carrying and water purificatio...
5253,2009-03-12,09:48,Thursday,"Off St. Johns, Newfoundland",Cougar Helicopters,NaN,St. Johns - Hibernia platform,Sikorsky S-92A,C-GZCH,920048,18.0,17.0,0.0,The pilot reported a technical malfunction and...
5254,2009-03-22,14:28,Sunday,"Butte, Montana",Eagle Cap Leasing,NaN,"Oroville, CA - Butte, MT",Pilatus PC-12/45,N128CM,403,14.0,14.0,0.0,The plane crashed 500 feet short of the runway...
5255,2009-03-23,06:48,Monday,"Tokyo, Japan",FedEx,80,"Guangzhou, China - Tokyo, Japan",McDonnell Douglas MD-11,N526FE,48600/560,2.0,2.0,0.0,The cargo plane crashed and burst into flame a...
5256,2009-04-01,14:00,Wednesday,"Off Crimond, Scotland",Bond Offshore Helicopters,NaN,Miller field - Aberdeen,Eurocopter AS 332L2 Super Puma 2,NaN,NaN,16.0,16.0,0.0,The helicopter crashed 35 miles East of Crimon...
5257,2009-04-06,12:30,Monday,"Bandung, Indonesia",Military - Indonesian Air Force,NaN,Militiary training,Fokker F-27 Friendship 400M,A-2703,10538,24.0,24.0,0.0,While returning from a military training exerc...
5258,2009-04-09,07:00,Thursday,"Near Wamena, Indonesia",Aviastar Mandiri,NaN,Jayapura - Wamena,British Aerospace BAe-146-300,PK-BRD,E3189,6.0,6.0,0.0,The cargo plane crashed into Gunung Pike mount...
5259,2009-04-17,10:30,Friday,"Mount Gergaji, Indonesia",Mimika Air,514,Ilaga - Mulia,Pilatus PC-6,PK-LTJ,959,11.0,11.0,0.0,The passenger plane crashed in poor weather in...
5260,2009-04-17,15:32,Friday,"Canaima National Park, Venezuela",Aerotuy airline,NaN,Canaima - Porlamar,Cessna 208B Grand Caravan,YV-1181,208B-0695,11.0,1.0,0.0,"The plane, carrying 9 tourists, crashed 5 mile..."
5261,2009-04-29,06:00,Wednesday,"Massamba, DemocratiRepubliof Congo",Bako Air,NaN,"Bangui, CAR- Brazzaville, Congo - Harare, Zimb...",Boeing B-737-200,TL-ADM,22264/753,7.0,7.0,0.0,Crashed while en route on a ferrying flight. T...
5262,2009-05-03,12:00,Sunday,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,NaN,Patrol,Mi-35,EV08114,NaN,18.0,18.0,0.0,The helicopter was patrolling along the Venezu...
5263,2009-05-20,06:30,Wednesday,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,2009-05-26,NaN,Tuesday,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,2009-06-01,00:15,Monday,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,2009-06-07,08:30,Sunday,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,2009-06-08,NaN,Monday,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [5]:
data.dtypes

Date            datetime64[ns]
Time                    object
Day                     object
Location                object
Operator                object
Flight #                object
Route                   object
Type                    object
Registration            object
cn/In                   object
Aboard                 float64
Fatalities             float64
Ground                 float64
Summary                 object
dtype: object

In [6]:
data

,Date,Time,Day,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,1908-09-17,17:18,Thursday,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1912-07-12,06:30,Friday,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,1913-08-06,NaN,Wednesday,"Victoria, British Columbia, Canada",Private,-0,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,1913-09-09,18:30,Tuesday,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,1913-10-17,10:30,Friday,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
5,1915-03-05,01:00,Friday,"Tienen, Belgium",Military - German Navy,NaN,NaN,Zeppelin L-8 (airship),NaN,NaN,41.0,21.0,0.0,Crashed into trees while attempting to land af...
6,1915-09-03,15:20,Friday,"Off Cuxhaven, Germany",Military - German Navy,NaN,NaN,Zeppelin L-10 (airship),NaN,NaN,19.0,19.0,0.0,"Exploded and burned near Neuwerk Island, when..."
7,1916-07-28,NaN,Friday,"Near Jambol, Bulgeria",Military - German Army,NaN,NaN,Schutte-Lanz S-L-10 (airship),NaN,NaN,20.0,20.0,0.0,"Crashed near the Black Sea, cause unknown."
8,1916-09-24,01:00,Sunday,"Billericay, England",Military - German Navy,NaN,NaN,Zeppelin L-32 (airship),NaN,NaN,22.0,22.0,0.0,Shot down by British aircraft crashing in flames.
9,1916-10-01,23:45,Sunday,"Potters Bar, England",Military - German Navy,NaN,NaN,Zeppelin L-31 (airship),NaN,NaN,19.0,19.0,0.0,Shot down in flames by the British 39th Home D...
10,1916-11-21,NaN,Tuesday,"Mainz, Germany",Military - German Army,NaN,NaN,Super Zeppelin (airship),NaN,NaN,28.0,27.0,0.0,Crashed in a storm.
11,1916-11-28,23:45,Tuesday,"Off West Hartlepool, England",Military - German Navy,NaN,NaN,Zeppelin L-34 (airship),NaN,NaN,20.0,20.0,0.0,Shot down by British anti-aircraft fire and ai...
12,1917-03-04,NaN,Sunday,"Near Gent, Belgium",Military - German Army,NaN,NaN,Airship,NaN,NaN,20.0,20.0,0.0,Caught fire and crashed.
13,1917-03-30,NaN,Friday,Off Northern Germany,Military - German Navy,NaN,NaN,Schutte-Lanz S-L-9 (airship),NaN,NaN,23.0,23.0,0.0,Struck by lightning and crashed into the Balti...
14,1917-05-14,05:15,Monday,"Near Texel Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-22 (airship),NaN,NaN,21.0,21.0,0.0,"Crashed into the sea from an altitude of 3,000..."
15,1917-06-14,08:45,Thursday,"Off Vlieland Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-43 (airship),NaN,NaN,24.0,24.0,0.0,Shot down by British aircraft.
16,1917-08-21,07:00,Tuesday,Off western Denmark,Military - German Navy,NaN,NaN,Zeppelin L-23 (airship),NaN,NaN,18.0,18.0,0.0,Shot down by British aircraft.
17,1917-10-20,07:45,Saturday,"Near Luneville, France",Military - German Navy,NaN,NaN,Zeppelin L-44 (airship),NaN,NaN,18.0,18.0,0.0,Shot down by French anti-aircraft fire.
18,1918-04-07,21:30,Sunday,Over the Mediterranean,Military - German Navy,NaN,NaN,Zeppelin L-59 (airship),NaN,NaN,23.0,23.0,0.0,Exploded and crashed into the sea off the sout...
19,1918-05-10,NaN,Friday,"Off Helgoland Island, Germany",Military - German Navy,NaN,NaN,Zeppelin L-70 (airship),NaN,NaN,22.0,22.0,0.0,Shot down by British aircraft crashing from a ...
20,1918-08-11,10:00,Sunday,"Ameland Island, North Sea",Military - German Navy,NaN,NaN,Zeppelin L-53 (airship),NaN,NaN,19.0,19.0,0.0,Shot down by british aircraft.
21,1918-12-16,NaN,Monday,"Elizabeth, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,97,NaN,1.0,1.0,0.0,NaN
22,1919-05-25,NaN,Sunday,"Cleveland, Ohio",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,61,NaN,1.0,1.0,0.0,Caught fire in midair. The pilot leaped from t...
23,1919-07-19,NaN,Saturday,"Dix Run, Pennsylvania",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,82,NaN,1.0,1.0,0.0,NaN
24,1919-10-02,NaN,Thursday,"Newcastle, England",Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,NaN,NaN,1.0,1.0,0.0,NaN
25,1919-10-14,NaN,Tuesday,"Cantonsville, Maryland",US Aerial Mail Service,NaN,NaN,Curtiss R-4LM,32,NaN,1.0,1.0,0.0,NaN
26,1919-10-20,NaN,Monday,English Channel,Aircraft Transport and Travel,NaN,NaN,De Havilland DH-4,G-EAHG,NaN,NaN,NaN,NaN,NaN
27,1919-10-30,NaN,Thursday,"Long Valley, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH.4,77,NaN,1.0,1.0,0.0,NaN
28,1920-03-10,NaN,Wednesday,"New Paris, Indiana",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,65,NaN,1.0,1.0,0.0,NaN
29,1920-03-30,NaN,Tuesday,"Newark, New Jersey",US Aerial Mail Service,NaN,NaN,De Havilland DH-4,72,NaN,1.0,1.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5238,2008-11-13,11:35,Thursday,"Fallujah, Iraq",Falcon Aviation Group,NaN,al-Asad air base - Baghdad,Antonov An-12,S9-SAO,346908,7.0,7.0,0.0,"The cargo plane, chartered by FedEx, crashed w..."
5239,2008-11-16,10:32,Sunday,"Thormanby Island, British Columbia, Canada",PacifiCoastal Airlines,NaN,Vancouver - Powell River - Toba Inlet,Grumman G-21A Goose,C-FPCK,1187,8.0,7.0,0.0,The charter aircraft crashed into a steep hill...
5240,2008-11-27,17:00,Thursday,"Off Perpignan, France",XL Airways leased from Air New Zealand,NaN,Training,Airbus A320-232,D-AXLA,2500,7.0,7.0,0.0,The Airbus A320 was leased by XL Airways of Ge...
5241,2008-12-03,12:13,Wednesday,"San Juan, Puerto Rico",Webstas Aviation Services Inc.,NaN,"Tortola Virgin Islands - San Juan, PR",Rockwell International 690B,N318WA,11444,3.0,3.0,0.0,The plane struck the side of El Yunque mountai...
5242,2008-12-11,06:25,Thursday,"Off Sabine Pass, Texas",Rotorcraft Leasing Co,NaN,Sabine Pass - Oil Platform,Bell 206-L4 Jet Ranger III,N180AL,52104,3.0,3.0,0.0,The helicopter ferrying workers to an off shor...
5243,2008-12-15,16:40,Monday,Off Turks and Caicos Islands,Alantis Aviation,NaN,"Santiago, Dominican Republi- Providenciales",Britten Norman BN-2A Trislander Mk3,N650LP,1029,12.0,12.0,0.0,The charter flight disappeared from radar 35 m...
5244,2009-01-04,15:30,Sunday,Near Houma Louisiana,Petroleum Helicopters Inc,NaN,Bayou Penchant - Off shore oil fields,Sikorsky S-76C,N748P,760629,9.0,8.0,0.0,A helicopter bound for offshore oil fields wen...
5245,2009-01-15,15:06,Thursday,"New York, New York",US Airways,1549,"New York, NY- Charlotte, NC",Airbus A320-214,N106US,1044,155.0,0.0,0.0,The plane was taking off from La Guardia Airpo...
5246,2009-02-07,14:00,Saturday,"Manacapuru, Brazil",Aerotaxi Manaus,NaN,Coari - Manus,Bandeirante EMB-110P1,PT-SEA,110352,28.0,24.0,0.0,The plane was being used as an air taxi to fer...
5247,2009-02-07,06:30,Saturday,"Trigoria, Italy",Air One Executive,NaN,Rome - Bologna,Cessna 650 Citation III,I-FEEV,650-0105,2.0,2.0,0.0,"The plane, heading to Bologna to pick up a med..."
5248,2009-02-12,22:17,Thursday,"Clarence Center, New York",Continental Connection/Colgan Air,3407,"Newark, N.J. - Buffalo, NY",Bombardier DHC-8-402 Q400,N200WQ,4200,49.0,49.0,1.0,The commuter plane crashed while attemptiong t...
5249,2009-02-15,16:05,Sunday,"Chanco, Chile",Flight Service,NaN,NaN,Bell UH-1H,NaN,NaN,13.0,13.0,0.0,The helicopter was carrying firemen to a nearb...
5250,2009-02-20,04:10,Friday,"Luxor, Egypt",Aerolift,NaN,"Entebbe, Uganda - Luxor, Egypt - Niklaev, Ukraine",Antonov 12V,S9-SVN,6344310,5.0,5.0,0.0,"While attemping to take off from Luxor, the ca..."
5251,2009-02-25,10:31,Wednesday,"Amsterdam, Netherlands",Turkish Airlines,1951,"Istanbul, Turkey - Amsterdam, Netherlands",Boeing 737-8F2,TC-JGE,29789/1065,134.0,9.0,0.0,The plane was on final approach to Runway 18R ...
5252,2009-03-09,05:40,Monday,"Lake Victoria, Uganda",Aerolift,NaN,"Entebbe, Uganda - Mogadishu, Somalia",Ilyushin Il-76T,S9-SAB,73410301,11.0,11.0,0.0,The cargo plane carrying and water purificatio...
5253,2009-03-12,09:48,Thursday,"Off St. Johns, Newfoundland",Cougar Helicopters,NaN,St. Johns - Hibernia platform,Sikorsky S-92A,C-GZCH,920048,18.0,17.0,0.0,The pilot reported a technical malfunction and...
5254,2009-03-22,14:28,Sunday,"Butte, Montana",Eagle Cap Leasing,NaN,"Oroville, CA - Butte, MT",Pilatus PC-12/45,N128CM,403,14.0,14.0,0.0,The plane crashed 500 feet short of the runway...
5255,2009-03-23,06:48,Monday,"Tokyo, Japan",FedEx,80,"Guangzhou, China - Tokyo, Japan",McDonnell Douglas MD-11,N526FE,48600/560,2.0,2.0,0.0,The cargo plane crashed and burst into flame a...
5256,2009-04-01,14:00,Wednesday,"Off Crimond, Scotland",Bond Offshore Helicopters,NaN,Miller field - Aberdeen,Eurocopter AS 332L2 Super Puma 2,NaN,NaN,16.0,16.0,0.0,The helicopter crashed 35 miles East of Crimon...
5257,2009-04-06,12:30,Monday,"Bandung, Indonesia",Military - Indonesian Air Force,NaN,Militiary training,Fokker F-27 Friendship 400M,A-2703,10538,24.0,24.0,0.0,While returning from a military training exerc...
5258,2009-04-09,07:00,Thursday,"Near Wamena, Indonesia",Aviastar Mandiri,NaN,Jayapura - Wamena,British Aerospace BAe-146-300,PK-BRD,E3189,6.0,6.0,0.0,The cargo plane crashed into Gunung Pike mount...
5259,2009-04-17,10:30,Friday,"Mount Gergaji, Indonesia",Mimika Air,514,Ilaga - Mulia,Pilatus PC-6,PK-LTJ,959,11.0,11.0,0.0,The passenger plane crashed in poor weather in...
5260,2009-04-17,15:32,Friday,"Canaima National Park, Venezuela",Aerotuy airline,NaN,Canaima - Porlamar,Cessna 208B Grand Caravan,YV-1181,208B-0695,11.0,1.0,0.0,"The plane, carrying 9 tourists, crashed 5 mile..."
5261,2009-04-29,06:00,Wednesday,"Massamba, DemocratiRepubliof Congo",Bako Air,NaN,"Bangui, CAR- Brazzaville, Congo - Harare, Zimb...",Boeing B-737-200,TL-ADM,22264/753,7.0,7.0,0.0,Crashed while en route on a ferrying flight. T...
5262,2009-05-03,12:00,Sunday,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,NaN,Patrol,Mi-35,EV08114,NaN,18.0,18.0,0.0,The helicopter was patrolling along the Venezu...
5263,2009-05-20,06:30,Wednesday,"Near Madiun, Indonesia",Military - Indonesian Air Force,NaN,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,2009-05-26,NaN,Tuesday,"Near Isiro, DemocratiRepubliCongo",Service Air,NaN,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,2009-06-01,00:15,Monday,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,2009-06-07,08:30,Sunday,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,NaN,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,2009-06-08,NaN,Monday,"State of Arunachal Pradesh, India",Military - Indian Air Force,NaN,Mechuka for Jorhat,Antonov An-32,NaN,NaN,13.0,13.0,0.0,The military transport went missing while en r...

In [7]:
conn = sqlite3.connect('airplane_crashes.db')

# sanity check to make sure sql works
new_data = pd.read_sql_query("SELECT * from crashes", conn)

Copy the above code for each new search.  Call something different.

In [8]:
new_data

,index,Date,Time,Day,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,0,1908-09-17 00:00:00,17:18,Thursday,"Fort Myer, Virginia",Military - U.S. Army,None,Demonstration,Wright Flyer III,None,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,1,1912-07-12 00:00:00,06:30,Friday,"AtlantiCity, New Jersey",Military - U.S. Navy,None,Test flight,Dirigible,None,None,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,2,1913-08-06 00:00:00,None,Wednesday,"Victoria, British Columbia, Canada",Private,-0,None,Curtiss seaplane,None,None,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,3,1913-09-09 00:00:00,18:30,Tuesday,Over the North Sea,Military - German Navy,None,None,Zeppelin L-1 (airship),None,None,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,4,1913-10-17 00:00:00,10:30,Friday,"Near Johannisthal, Germany",Military - German Navy,None,None,Zeppelin L-2 (airship),None,None,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...
5,5,1915-03-05 00:00:00,01:00,Friday,"Tienen, Belgium",Military - German Navy,None,None,Zeppelin L-8 (airship),None,None,41.0,21.0,0.0,Crashed into trees while attempting to land af...
6,6,1915-09-03 00:00:00,15:20,Friday,"Off Cuxhaven, Germany",Military - German Navy,None,None,Zeppelin L-10 (airship),None,None,19.0,19.0,0.0,"Exploded and burned near Neuwerk Island, when..."
7,7,1916-07-28 00:00:00,None,Friday,"Near Jambol, Bulgeria",Military - German Army,None,None,Schutte-Lanz S-L-10 (airship),None,None,20.0,20.0,0.0,"Crashed near the Black Sea, cause unknown."
8,8,1916-09-24 00:00:00,01:00,Sunday,"Billericay, England",Military - German Navy,None,None,Zeppelin L-32 (airship),None,None,22.0,22.0,0.0,Shot down by British aircraft crashing in flames.
9,9,1916-10-01 00:00:00,23:45,Sunday,"Potters Bar, England",Military - German Navy,None,None,Zeppelin L-31 (airship),None,None,19.0,19.0,0.0,Shot down in flames by the British 39th Home D...
10,10,1916-11-21 00:00:00,None,Tuesday,"Mainz, Germany",Military - German Army,None,None,Super Zeppelin (airship),None,None,28.0,27.0,0.0,Crashed in a storm.
11,11,1916-11-28 00:00:00,23:45,Tuesday,"Off West Hartlepool, England",Military - German Navy,None,None,Zeppelin L-34 (airship),None,None,20.0,20.0,0.0,Shot down by British anti-aircraft fire and ai...
12,12,1917-03-04 00:00:00,None,Sunday,"Near Gent, Belgium",Military - German Army,None,None,Airship,None,None,20.0,20.0,0.0,Caught fire and crashed.
13,13,1917-03-30 00:00:00,None,Friday,Off Northern Germany,Military - German Navy,None,None,Schutte-Lanz S-L-9 (airship),None,None,23.0,23.0,0.0,Struck by lightning and crashed into the Balti...
14,14,1917-05-14 00:00:00,05:15,Monday,"Near Texel Island, North Sea",Military - German Navy,None,None,Zeppelin L-22 (airship),None,None,21.0,21.0,0.0,"Crashed into the sea from an altitude of 3,000..."
15,15,1917-06-14 00:00:00,08:45,Thursday,"Off Vlieland Island, North Sea",Military - German Navy,None,None,Zeppelin L-43 (airship),None,None,24.0,24.0,0.0,Shot down by British aircraft.
16,16,1917-08-21 00:00:00,07:00,Tuesday,Off western Denmark,Military - German Navy,None,None,Zeppelin L-23 (airship),None,None,18.0,18.0,0.0,Shot down by British aircraft.
17,17,1917-10-20 00:00:00,07:45,Saturday,"Near Luneville, France",Military - German Navy,None,None,Zeppelin L-44 (airship),None,None,18.0,18.0,0.0,Shot down by French anti-aircraft fire.
18,18,1918-04-07 00:00:00,21:30,Sunday,Over the Mediterranean,Military - German Navy,None,None,Zeppelin L-59 (airship),None,None,23.0,23.0,0.0,Exploded and crashed into the sea off the sout...
19,19,1918-05-10 00:00:00,None,Friday,"Off Helgoland Island, Germany",Military - German Navy,None,None,Zeppelin L-70 (airship),None,None,22.0,22.0,0.0,Shot down by British aircraft crashing from a ...
20,20,1918-08-11 00:00:00,10:00,Sunday,"Ameland Island, North Sea",Military - German Navy,None,None,Zeppelin L-53 (airship),None,None,19.0,19.0,0.0,Shot down by british aircraft.
21,21,1918-12-16 00:00:00,None,Monday,"Elizabeth, New Jersey",US Aerial Mail Service,None,None,De Havilland DH-4,97,None,1.0,1.0,0.0,None
22,22,1919-05-25 00:00:00,None,Sunday,"Cleveland, Ohio",US Aerial Mail Service,None,None,De Havilland DH-4,61,None,1.0,1.0,0.0,Caught fire in midair. The pilot leaped from t...
23,23,1919-07-19 00:00:00,None,Saturday,"Dix Run, Pennsylvania",US Aerial Mail Service,None,None,De Havilland DH-4,82,None,1.0,1.0,0.0,None
24,24,1919-10-02 00:00:00,None,Thursday,"Newcastle, England",Aircraft Transport and Travel,None,None,De Havilland DH-4,None,None,1.0,1.0,0.0,None
25,25,1919-10-14 00:00:00,None,Tuesday,"Cantonsville, Maryland",US Aerial Mail Service,None,None,Curtiss R-4LM,32,None,1.0,1.0,0.0,None
26,26,1919-10-20 00:00:00,None,Monday,English Channel,Aircraft Transport and Travel,None,None,De Havilland DH-4,G-EAHG,None,NaN,NaN,NaN,None
27,27,1919-10-30 00:00:00,None,Thursday,"Long Valley, New Jersey",US Aerial Mail Service,None,None,De Havilland DH.4,77,None,1.0,1.0,0.0,None
28,28,1920-03-10 00:00:00,None,Wednesday,"New Paris, Indiana",US Aerial Mail Service,None,None,De Havilland DH-4,65,None,1.0,1.0,0.0,None
29,29,1920-03-30 00:00:00,None,Tuesday,"Newark, New Jersey",US Aerial Mail Service,None,None,De Havilland DH-4,72,None,1.0,1.0,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5238,5238,2008-11-13 00:00:00,11:35,Thursday,"Fallujah, Iraq",Falcon Aviation Group,None,al-Asad air base - Baghdad,Antonov An-12,S9-SAO,346908,7.0,7.0,0.0,"The cargo plane, chartered by FedEx, crashed w..."
5239,5239,2008-11-16 00:00:00,10:32,Sunday,"Thormanby Island, British Columbia, Canada",PacifiCoastal Airlines,None,Vancouver - Powell River - Toba Inlet,Grumman G-21A Goose,C-FPCK,1187,8.0,7.0,0.0,The charter aircraft crashed into a steep hill...
5240,5240,2008-11-27 00:00:00,17:00,Thursday,"Off Perpignan, France",XL Airways leased from Air New Zealand,None,Training,Airbus A320-232,D-AXLA,2500,7.0,7.0,0.0,The Airbus A320 was leased by XL Airways of Ge...
5241,5241,2008-12-03 00:00:00,12:13,Wednesday,"San Juan, Puerto Rico",Webstas Aviation Services Inc.,None,"Tortola Virgin Islands - San Juan, PR",Rockwell International 690B,N318WA,11444,3.0,3.0,0.0,The plane struck the side of El Yunque mountai...
5242,5242,2008-12-11 00:00:00,06:25,Thursday,"Off Sabine Pass, Texas",Rotorcraft Leasing Co,None,Sabine Pass - Oil Platform,Bell 206-L4 Jet Ranger III,N180AL,52104,3.0,3.0,0.0,The helicopter ferrying workers to an off shor...
5243,5243,2008-12-15 00:00:00,16:40,Monday,Off Turks and Caicos Islands,Alantis Aviation,None,"Santiago, Dominican Republi- Providenciales",Britten Norman BN-2A Trislander Mk3,N650LP,1029,12.0,12.0,0.0,The charter flight disappeared from radar 35 m...
5244,5244,2009-01-04 00:00:00,15:30,Sunday,Near Houma Louisiana,Petroleum Helicopters Inc,None,Bayou Penchant - Off shore oil fields,Sikorsky S-76C,N748P,760629,9.0,8.0,0.0,A helicopter bound for offshore oil fields wen...
5245,5245,2009-01-15 00:00:00,15:06,Thursday,"New York, New York",US Airways,1549,"New York, NY- Charlotte, NC",Airbus A320-214,N106US,1044,155.0,0.0,0.0,The plane was taking off from La Guardia Airpo...
5246,5246,2009-02-07 00:00:00,14:00,Saturday,"Manacapuru, Brazil",Aerotaxi Manaus,None,Coari - Manus,Bandeirante EMB-110P1,PT-SEA,110352,28.0,24.0,0.0,The plane was being used as an air taxi to fer...
5247,5247,2009-02-07 00:00:00,06:30,Saturday,"Trigoria, Italy",Air One Executive,None,Rome - Bologna,Cessna 650 Citation III,I-FEEV,650-0105,2.0,2.0,0.0,"The plane, heading to Bologna to pick up a med..."
5248,5248,2009-02-12 00:00:00,22:17,Thursday,"Clarence Center, New York",Continental Connection/Colgan Air,3407,"Newark, N.J. - Buffalo, NY",Bombardier DHC-8-402 Q400,N200WQ,4200,49.0,49.0,1.0,The commuter plane crashed while attemptiong t...
5249,5249,2009-02-15 00:00:00,16:05,Sunday,"Chanco, Chile",Flight Service,None,None,Bell UH-1H,None,None,13.0,13.0,0.0,The helicopter was carrying firemen to a nearb...
5250,5250,2009-02-20 00:00:00,04:10,Friday,"Luxor, Egypt",Aerolift,None,"Entebbe, Uganda - Luxor, Egypt - Niklaev, Ukraine",Antonov 12V,S9-SVN,6344310,5.0,5.0,0.0,"While attemping to take off from Luxor, the ca..."
5251,5251,2009-02-25 00:00:00,10:31,Wednesday,"Amsterdam, Netherlands",Turkish Airlines,1951,"Istanbul, Turkey - Amsterdam, Netherlands",Boeing 737-8F2,TC-JGE,29789/1065,134.0,9.0,0.0,The plane was on final approach to Runway 18R ...
5252,5252,2009-03-09 00:00:00,05:40,Monday,"Lake Victoria, Uganda",Aerolift,None,"Entebbe, Uganda - Mogadishu, Somalia",Ilyushin Il-76T,S9-SAB,73410301,11.0,11.0,0.0,The cargo plane carrying and water purificatio...
5253,5253,2009-03-12 00:00:00,09:48,Thursday,"Off St. Johns, Newfoundland",Cougar Helicopters,None,St. Johns - Hibernia platform,Sikorsky S-92A,C-GZCH,920048,18.0,17.0,0.0,The pilot reported a technical malfunction and...
5254,5254,2009-03-22 00:00:00,14:28,Sunday,"Butte, Montana",Eagle Cap Leasing,None,"Oroville, CA - Butte, MT",Pilatus PC-12/45,N128CM,403,14.0,14.0,0.0,The plane crashed 500 feet short of the runway...
5255,5255,2009-03-23 00:00:00,06:48,Monday,"Tokyo, Japan",FedEx,80,"Guangzhou, China - Tokyo, Japan",McDonnell Douglas MD-11,N526FE,48600/560,2.0,2.0,0.0,The cargo plane crashed and burst into flame a...
5256,5256,2009-04-01 00:00:00,14:00,Wednesday,"Off Crimond, Scotland",Bond Offshore Helicopters,None,Miller field - Aberdeen,Eurocopter AS 332L2 Super Puma 2,None,None,16.0,16.0,0.0,The helicopter crashed 35 miles East of Crimon...
5257,5257,2009-04-06 00:00:00,12:30,Monday,"Bandung, Indonesia",Military - Indonesian Air Force,None,Militiary training,Fokker F-27 Friendship 400M,A-2703,10538,24.0,24.0,0.0,While returning from a military training exerc...
5258,5258,2009-04-09 00:00:00,07:00,Thursday,"Near Wamena, Indonesia",Aviastar Mandiri,None,Jayapura - Wamena,British Aerospace BAe-146-300,PK-BRD,E3189,6.0,6.0,0.0,The cargo plane crashed into Gunung Pike mount...
5259,5259,2009-04-17 00:00:00,10:30,Friday,"Mount Gergaji, Indonesia",Mimika Air,514,Ilaga - Mulia,Pilatus PC-6,PK-LTJ,959,11.0,11.0,0.0,The passenger plane crashed in poor weather in...
5260,5260,2009-04-17 00:00:00,15:32,Friday,"Canaima National Park, Venezuela",Aerotuy airline,None,Canaima - Porlamar,Cessna 208B Grand Caravan,YV-1181,208B-0695,11.0,1.0,0.0,"The plane, carrying 9 tourists, crashed 5 mile..."
5261,5261,2009-04-29 00:00:00,06:00,Wednesday,"Massamba, DemocratiRepubliof Congo",Bako Air,None,"Bangui, CAR- Brazzaville, Congo - Harare, Zimb...",Boeing B-737-200,TL-ADM,22264/753,7.0,7.0,0.0,Crashed while en route on a ferrying flight. T...
5262,5262,2009-05-03 00:00:00,12:00,Sunday,"Near El Alto de Rubio, Venezuela",Military - Venezuelan Army,None,Patrol,Mi-35,EV08114,None,18.0,18.0,0.0,The helicopter was patrolling along the Venezu...
5263,5263,2009-05-20 00:00:00,06:30,Wednesday,"Near Madiun, Indonesia",Military - Indonesian Air Force,None,Jakarta - Maduin,Lockheed C-130 Hercules,A-1325,1982,112.0,98.0,2.0,"While on approach, the military transport cras..."
5264,5264,2009-05-26 00:00:00,None,Tuesday,"Near Isiro, DemocratiRepubliCongo",Service Air,None,Goma - Isiro,Antonov An-26,9Q-CSA,5005,4.0,4.0,NaN,The cargo plane crashed while on approach to I...
5265,5265,2009-06-01 00:00:00,00:15,Monday,"AtlantiOcean, 570 miles northeast of Natal, Br...",Air France,447,Rio de Janeiro - Paris,Airbus A330-203,F-GZCP,660,228.0,228.0,0.0,The Airbus went missing over the AtlantiOcean ...
5266,5266,2009-06-07 00:00:00,08:30,Sunday,"Near Port Hope Simpson, Newfoundland, Canada",Strait Air,None,Lourdes de BlanSablon - Port Hope Simpson,Britten-Norman BN-2A-27 Islander,C-FJJR,424,1.0,1.0,0.0,The air ambulance crashed into hills while att...
5267,5267,2009-06-08 00:00:00,None,Monday,"State of Arunachal Pradesh, India",Military - Indian Air Force,None,Mechuka for Jorhat,Antonov An-32,None,None,13.0,13.0,0.0,The military transport went missing while en r...

Selecting the columns needed

In [9]:
conn = sqlite3.connect('airplane_crashes.db')

crashes_days = pd.read_sql_query("SELECT Day, Date, Aboard, Fatalities FROM crashes", conn)

In [10]:
crashes_days

            Day                 Date  Aboard  Fatalities
0      Thursday  1908-09-17 00:00:00     2.0         1.0
1        Friday  1912-07-12 00:00:00     5.0         5.0
2     Wednesday  1913-08-06 00:00:00     1.0         1.0
3       Tuesday  1913-09-09 00:00:00    20.0        14.0
4        Friday  1913-10-17 00:00:00    30.0        30.0
5        Friday  1915-03-05 00:00:00    41.0        21.0
6        Friday  1915-09-03 00:00:00    19.0        19.0
7        Friday  1916-07-28 00:00:00    20.0        20.0
8        Sunday  1916-09-24 00:00:00    22.0        22.0
9        Sunday  1916-10-01 00:00:00    19.0        19.0
10      Tuesday  1916-11-21 00:00:00    28.0        27.0
11      Tuesday  1916-11-28 00:00:00    20.0        20.0
12       Sunday  1917-03-04 00:00:00    20.0        20.0
13       Friday  1917-03-30 00:00:00    23.0        23.0
14       Monday  1917-05-14 00:00:00    21.0        21.0
15     Thursday  1917-06-14 00:00:00    24.0        24.0
16      Tuesday  1917-08-21 00:00:00    18.0        18.0
17     Saturday  1917-10-20 00:00:00    18.0        18.0
18       Sunday  1918-04-07 00:00:00    23.0        23.0
19       Friday  1918-05-10 00:00:00    22.0        22.0
20       Sunday  1918-08-11 00:00:00    19.0        19.0
21       Monday  1918-12-16 00:00:00     1.0         1.0
22       Sunday  1919-05-25 00:00:00     1.0         1.0
23     Saturday  1919-07-19 00:00:00     1.0         1.0
24     Thursday  1919-10-02 00:00:00     1.0         1.0
25      Tuesday  1919-10-14 00:00:00     1.0         1.0
26       Monday  1919-10-20 00:00:00     NaN         NaN
27     Thursday  1919-10-30 00:00:00     1.0         1.0
28    Wednesday  1920-03-10 00:00:00     1.0         1.0
29      Tuesday  1920-03-30 00:00:00     1.0         1.0
...         ...                  ...     ...         ...
5238   Thursday  2008-11-13 00:00:00     7.0         7.0
5239     Sunday  2008-11-16 00:00:00     8.0         7.0
5240   Thursday  2008-11-27 00:00:00     7.0         7.0
5241  Wednesday  2008-12-03 00:00:00     3.0         3.0
5242   Thursday  2008-12-11 00:00:00     3.0         3.0
5243     Monday  2008-12-15 00:00:00    12.0        12.0
5244     Sunday  2009-01-04 00:00:00     9.0         8.0
5245   Thursday  2009-01-15 00:00:00   155.0         0.0
5246   Saturday  2009-02-07 00:00:00    28.0        24.0
5247   Saturday  2009-02-07 00:00:00     2.0         2.0
5248   Thursday  2009-02-12 00:00:00    49.0        49.0
5249     Sunday  2009-02-15 00:00:00    13.0        13.0
5250     Friday  2009-02-20 00:00:00     5.0         5.0
5251  Wednesday  2009-02-25 00:00:00   134.0         9.0
5252     Monday  2009-03-09 00:00:00    11.0        11.0
5253   Thursday  2009-03-12 00:00:00    18.0        17.0
5254     Sunday  2009-03-22 00:00:00    14.0        14.0
5255     Monday  2009-03-23 00:00:00     2.0         2.0
5256  Wednesday  2009-04-01 00:00:00    16.0        16.0
5257     Monday  2009-04-06 00:00:00    24.0        24.0
5258   Thursday  2009-04-09 00:00:00     6.0         6.0
5259     Friday  2009-04-17 00:00:00    11.0        11.0
5260     Friday  2009-04-17 00:00:00    11.0         1.0
5261  Wednesday  2009-04-29 00:00:00     7.0         7.0
5262     Sunday  2009-05-03 00:00:00    18.0        18.0
5263  Wednesday  2009-05-20 00:00:00   112.0        98.0
5264    Tuesday  2009-05-26 00:00:00     4.0         4.0
5265     Monday  2009-06-01 00:00:00   228.0       228.0
5266     Sunday  2009-06-07 00:00:00     1.0         1.0
5267     Monday  2009-06-08 00:00:00    13.0        13.0

[5268 rows x 4 columns]

The size of aircraft is generally categorized by weight.  While the dataset gives the Type of aircraft, calculating the weight of the aircraft would require finding a secondary dataset, which is beyond the scope of this project.  

Instead, we will use the number of people aboard to caclulate "large" vs "small" aircrafts. According to the Smithsonian Institute "Smaller commercial airplanes can hold as few as 20 people".  Therefore, we will categorize a "large" aircraft as having at least 20 people aboard, and a "small" aircraft as having less than 20 people aboard.

In [11]:
conn = sqlite3.connect('airplane_crashes.db')

Large = pd.read_sql_query("SELECT Day, Date, Aboard, Fatalities FROM crashes WHERE Aboard >= 20 ORDER BY Day", conn)
Small = pd.read_sql_query("SELECT Day, Date, Aboard, Fatalities FROM crashes WHERE Aboard < 20 ORDER BY Day", conn)

In [12]:
Large

            Day                 Date  Aboard  Fatalities
0        Friday  1913-10-17 00:00:00    30.0        30.0
1        Friday  1915-03-05 00:00:00    41.0        21.0
2        Friday  1916-07-28 00:00:00    20.0        20.0
3        Friday  1917-03-30 00:00:00    23.0        23.0
4        Friday  1918-05-10 00:00:00    22.0        22.0
5        Friday  1940-11-08 00:00:00    29.0        29.0
6        Friday  1942-01-16 00:00:00    22.0        22.0
7        Friday  1943-01-15 00:00:00    35.0        35.0
8        Friday  1943-08-27 00:00:00    21.0        18.0
9        Friday  1943-09-10 00:00:00    22.0        22.0
10       Friday  1943-10-22 00:00:00    20.0        20.0
11       Friday  1944-04-21 00:00:00    20.0         9.0
12       Friday  1945-02-02 00:00:00    26.0        23.0
13       Friday  1945-02-23 00:00:00    30.0        13.0
14       Friday  1945-02-23 00:00:00    22.0        17.0
15       Friday  1945-04-20 00:00:00    25.0        25.0
16       Friday  1945-09-07 00:00:00    22.0        22.0
17       Friday  1945-09-28 00:00:00    20.0        20.0
18       Friday  1945-10-05 00:00:00    23.0        23.0
19       Friday  1945-11-09 00:00:00    24.0        24.0
20       Friday  1946-05-10 00:00:00    28.0        28.0
21       Friday  1946-09-06 00:00:00    24.0        24.0
22       Friday  1946-09-20 00:00:00    31.0        31.0
23       Friday  1946-09-27 00:00:00    25.0        25.0
24       Friday  1946-11-01 00:00:00    27.0        23.0
25       Friday  1947-02-21 00:00:00    21.0        21.0
26       Friday  1947-03-14 00:00:00    23.0        23.0
27       Friday  1947-05-30 00:00:00    53.0        53.0
28       Friday  1947-06-13 00:00:00    50.0        50.0
29       Friday  1947-10-24 00:00:00    53.0        53.0
...         ...                  ...     ...         ...
1963  Wednesday  1998-09-02 00:00:00    24.0        24.0
1964  Wednesday  1998-09-02 00:00:00   229.0       229.0
1965  Wednesday  1998-10-21 00:00:00    37.0         0.0
1966  Wednesday  1999-02-24 00:00:00    61.0        61.0
1967  Wednesday  2000-04-19 00:00:00    24.0        24.0
1968  Wednesday  2000-04-19 00:00:00   131.0       131.0
1969  Wednesday  2000-08-23 00:00:00   143.0       143.0
1970  Wednesday  2000-10-25 00:00:00    86.0        86.0
1971  Wednesday  2000-11-15 00:00:00    57.0        57.0
1972  Wednesday  2001-04-04 00:00:00    30.0        14.0
1973  Wednesday  2001-05-16 00:00:00    34.0        34.0
1974  Wednesday  2001-07-04 00:00:00   145.0       145.0
1975  Wednesday  2001-08-29 00:00:00    47.0         4.0
1976  Wednesday  2002-01-16 00:00:00    62.0         1.0
1977  Wednesday  2002-11-06 00:00:00    22.0        20.0
1978  Wednesday  2003-01-08 00:00:00    80.0        75.0
1979  Wednesday  2003-01-08 00:00:00    21.0        21.0
1980  Wednesday  2003-02-19 00:00:00   275.0       275.0
1981  Wednesday  2003-08-20 00:00:00    20.0        20.0
1982  Wednesday  2005-01-26 00:00:00    31.0        31.0
1983  Wednesday  2005-03-16 00:00:00    52.0        28.0
1984  Wednesday  2005-04-20 00:00:00   169.0         3.0
1985  Wednesday  2005-05-25 00:00:00    27.0        27.0
1986  Wednesday  2006-05-03 00:00:00   113.0       113.0
1987  Wednesday  2007-03-07 00:00:00   140.0        22.0
1988  Wednesday  2007-06-13 00:00:00    22.0        15.0
1989  Wednesday  2008-01-23 00:00:00    20.0        20.0
1990  Wednesday  2008-08-20 00:00:00   172.0       154.0
1991  Wednesday  2009-02-25 00:00:00   134.0         9.0
1992  Wednesday  2009-05-20 00:00:00   112.0        98.0

[1993 rows x 4 columns]

In [13]:
Small

            Day                 Date  Aboard  Fatalities
0        Friday  1912-07-12 00:00:00     5.0         5.0
1        Friday  1915-09-03 00:00:00    19.0        19.0
2        Friday  1920-10-15 00:00:00     1.0         1.0
3        Friday  1920-12-24 00:00:00     1.0         1.0
4        Friday  1921-04-29 00:00:00     1.0         1.0
5        Friday  1922-04-07 00:00:00     7.0         7.0
6        Friday  1923-09-07 00:00:00     1.0         1.0
7        Friday  1923-09-14 00:00:00     6.0         6.0
8        Friday  1924-03-07 00:00:00     1.0         1.0
9        Friday  1924-08-01 00:00:00     1.0         1.0
10       Friday  1925-06-26 00:00:00     2.0         2.0
11       Friday  1925-07-24 00:00:00     1.0         1.0
12       Friday  1926-02-12 00:00:00     1.0         1.0
13       Friday  1926-07-09 00:00:00     2.0         2.0
14       Friday  1926-10-08 00:00:00     4.0         4.0
15       Friday  1927-04-15 00:00:00     1.0         1.0
16       Friday  1927-04-22 00:00:00     1.0         1.0
17       Friday  1927-04-22 00:00:00     2.0         2.0
18       Friday  1927-09-23 00:00:00     6.0         6.0
19       Friday  1928-01-27 00:00:00     1.0         1.0
20       Friday  1928-06-22 00:00:00     1.0         1.0
21       Friday  1928-07-13 00:00:00     4.0         4.0
22       Friday  1929-01-18 00:00:00     1.0         1.0
23       Friday  1929-01-25 00:00:00     9.0         2.0
24       Friday  1929-06-14 00:00:00     2.0         1.0
25       Friday  1929-09-06 00:00:00     5.0         3.0
26       Friday  1929-11-15 00:00:00     3.0         3.0
27       Friday  1930-01-10 00:00:00     1.0         1.0
28       Friday  1930-04-18 00:00:00     4.0         4.0
29       Friday  1930-08-22 00:00:00    11.0        10.0
...         ...                  ...     ...         ...
3223  Wednesday  2004-01-28 00:00:00     5.0         1.0
3224  Wednesday  2004-03-10 00:00:00     4.0         4.0
3225  Wednesday  2004-05-05 00:00:00     7.0         3.0
3226  Wednesday  2004-08-18 00:00:00     3.0         3.0
3227  Wednesday  2004-09-29 00:00:00     1.0         1.0
3228  Wednesday  2005-02-16 00:00:00     8.0         8.0
3229  Wednesday  2005-03-23 00:00:00     8.0         8.0
3230  Wednesday  2005-05-18 00:00:00    13.0        13.0
3231  Wednesday  2005-08-10 00:00:00    14.0        14.0
3232  Wednesday  2005-12-28 00:00:00     2.0         2.0
3233  Wednesday  2006-02-08 00:00:00     1.0         1.0
3234  Wednesday  2006-06-21 00:00:00     9.0         9.0
3235  Wednesday  2007-01-10 00:00:00     2.0         2.0
3236  Wednesday  2007-02-07 00:00:00     3.0         3.0
3237  Wednesday  2007-03-14 00:00:00     4.0         4.0
3238  Wednesday  2007-04-25 00:00:00     5.0         3.0
3239  Wednesday  2007-08-22 00:00:00    14.0        14.0
3240  Wednesday  2007-08-22 00:00:00     2.0         2.0
3241  Wednesday  2007-12-05 00:00:00     2.0         2.0
3242  Wednesday  2008-04-09 00:00:00     1.0         1.0
3243  Wednesday  2008-04-16 00:00:00    13.0        13.0
3244  Wednesday  2008-06-18 00:00:00     1.0         1.0
3245  Wednesday  2008-08-06 00:00:00    10.0        10.0
3246  Wednesday  2008-08-13 00:00:00     3.0         3.0
3247  Wednesday  2008-09-03 00:00:00     7.0         7.0
3248  Wednesday  2008-10-08 00:00:00    19.0        18.0
3249  Wednesday  2008-10-15 00:00:00     4.0         4.0
3250  Wednesday  2008-12-03 00:00:00     3.0         3.0
3251  Wednesday  2009-04-01 00:00:00    16.0        16.0
3252  Wednesday  2009-04-29 00:00:00     7.0         7.0

[3253 rows x 4 columns]

In [14]:
conn = sqlite3.connect('airplane_crashes.db')

Sum_Large = pd.read_sql_query("SELECT Count(*)FROM crashes WHERE Aboard >= 20 ORDER BY Day", conn)
Sum_Small = pd.read_sql_query("SELECT Count(*)FROM crashes WHERE Aboard < 20 ORDER BY Day", conn)

In [19]:
Sum_Large

   Count(*)
0      1993

In [20]:
Sum_Small

   Count(*)
0      3253

Plot number of Small Aircraft crashes vs number of Large Aircraft crashes, using Bar Graph

In [23]:
import matplotlib.pyplot as plt
import numpy as np

conn = sqlite3.connect('airplane_crashes.db')

Sum_Large = pd.read_sql_query("SELECT Count(*)FROM crashes WHERE Aboard >= 20 ORDER BY Day", conn)
Sum_Small = pd.read_sql_query("SELECT Count(*)FROM crashes WHERE Aboard < 20 ORDER BY Day", conn)

label = ['Large Aircraft', 'Small Aircraft']
num_crashes = [Sum_Large, Sum_Small]

def plot_bar_x():
    # this is for plotting purpose
    index = np.arange(len(label))
    plt.bar(index, num_crashes)
    plt.xlabel('Size of Aircraft', fontsize=5)
    plt.ylabel('Number of Crashes', fontsize=5)
    plt.xticks(index, label, fontsize=5, rotation=30)
    plt.title('Number of crashes for Large vs Small aircraft')
    plt.show()

In [24]:
plt.show()

Compare number of crashes on a given day of the week, small (bar or pie)
"" large (bar or pie)

In [52]:
conn = sqlite3.connect('airplane_crashes.db')

Day_Large = pd.read_sql_query("SELECT COUNT(*) FROM crashes WHERE Aboard >= 20 GROUP BY Day", conn)
Day_Small = pd.read_sql_query("SELECT COUNT(*) FROM crashes WHERE Aboard < 20 GROUP BY Day", conn)

In [53]:
Day_Large

   COUNT(*)
0       296
1       269
2       283
3       250
4       295
5       299
6       301

In [54]:
Day_Small

   COUNT(*)
0       500
1       441
2       454
3       356
4       517
5       494
6       491

Compare % of crashes small vs % of crashes large on a given day, line graph